.header,
.overlay {
    height: 100vh;
    overflow: hidden
}

.nav,
.navbar {
    padding-top: 10px
}

*,
.nav li a {
    text-transform: capitalize
}

button,
p {
    font-family: "Alegreya Sans"
}

.dish,
.float-item,
.logo,
.nav {
    float: left
}

.addition,
.footer,
.header,
.menu-contenar {
    text-align: center
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

ul {
    list-style-type: none
}

p {
    color: #686868;
    font-size: 18px
}

.header {
    background-image: url(../image/background.jpg);
    background-size: cover
}

.overlay {
    background-color: rgba(0, 0, 0, .5)
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    top: 0
}

.nav {
    width: 60%
}

.nav li {
    display: inline-block;
    margin-right: 20px
}

.nav li a {
    color: #fff;
    font-size: 20px
}

.logo {
    width: 40%
}

.logo img {
    width: 140px;
    height: 54px;
    margin-right: 182px
}

.clearfix {
    clear: both
}

.header-content {
    padding-top: 50px;
    margin-top: 50px;
    color: #fff
}

.header-content h1 {
    font-family: Alegreya;
    font-size: 70px;
    margin-bottom: 30px
}

.header-content p {
    font-family: "Dancing Script";
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff
}

button {
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700
}

.header-content .learn-more,
.more-menu {
    background-color: #c1ab84;
    color: #fff;
    cursor: pointer
}

.learn-more:hover,
.more-menu:hover {
    background-color: #fff;
    color: #000
}

.book-visit:hover {
    background-color: #ffffff97
}

.addition {
    position: fixed;
    top: 40vh;
    right: 0;
    z-index: 2;
    background-color: #fff;
    line-height: 42px;
    height: 85px;
    color: #686868;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 42px
}

.Reviewers,
.img,
.menu {
    background-color: #f8f8f8
}

.dish,
.main-description,
.menu-contenar {
    line-height: 33.48px
}

.addition i {
    font-size: 20px;
    line-height: 42px;
    display: block
}

.about {
    padding-bottom: 80px
}

.about-contenar {
    margin: 100px 0 0 10%
}

.chaf-img {
    width: 30%;
    margin-left: 5%
}

.description {
    width: 40%;
    margin-left: 10%;
    margin-top: 100px
}

.description p {
    width: 100%
}

.icon-list p {
    width: 70%
}

.description h2,
.menu h2 {
    color: #253048;
    font-size: 36px;
    font-family: Alegreya;
    font-weight: 400
}

.mini-description {
    color: #c1ab84;
    font-family: "Dancing Script";
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px
}

.main-description {
    width: 565.2px;
    margin-bottom: 20px
}

.icon-list .description-icon i,
.location-icon-list .description-icon i {
    color: #fff;
    font-size: 24px;
    padding-top: 13px
}

.icon-list .description-icon,
.location-icon-list .description-icon {
    background-color: #c1ab84;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px
}

.icons p {
    font-family: "Alegreya Sans", serif;
    font-size: 18px;
    color: #686868;
    margin-top: 35px
}

.dish h3,
.information-contenar h3 {
    font-family: Alegreya;
    margin-bottom: 20px;
    font-weight: 400
}

.like-icon {
    color: #c1ab84;
    font-size: 18px;
    margin-right: 8px;
    margin-bottom: 18px
}

.cup-img img,
.location-map iframe {
    width: 100%;
    height: 100%
}

.cup-img {
    width: 40%;
    height: 40%;
    padding-top: 7%;
    margin-left: 6%
}

.background-img {
    background-image: url("../image/restaurant_img.jpg");
    height: 500px;
    width: 100%;
    background-attachment: fixed
}

.img {
    padding-top: 55px;
    padding-bottom: 55px
}

.Reviewers,
.menu {
    padding: 5% 8%
}

.Reviewers-contenar .description {
    margin: 5%
}

.Reviewers-contenar .description .mini-description {
    padding-bottom: 45px
}

.dish img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px
}

.dish {
    width: 30%;
    margin-left: 3%;
    padding-bottom: 40px
}

.menu {
    margin: auto
}

.dish h3 {
    line-height: 28.98px;
    font-size: 21px
}

.menu-button {
    padding: 55px
}

.location-contenar {
    margin: 0 3% 3% 0
}

.location h2 {
    padding-bottom: 25px
}

.location-map {
    width: 40%;
    height: 450px;
    margin-top: 9%;
    margin-left: 5%
}

.information {
    background-color: #403d38;
    color: #969696;
    padding-top: 50px;
    padding-bottom: 85px;
    padding-left: 10%
}

.information p {
    width: 90%
}

.information i {
    padding-top: 7.5px
}

.contact-details,
.opening-hours,
.usefull-inks {
    width: 18%;
    margin-left: 30px;
    font-size: 16px;
    line-height: 28px
}

.information-contenar h3 {
    color: #fff;
    font-size: 20px
}

.about-us {
    width: 20%;
    font-size: 16px;
    line-height: 28px
}

.about-us p {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    color: #969696;
    line-height: 29.76px
}

.contact-info i,
.info i,
.last-info i {
    color: rgba(255, 255, 255, .34);
    padding-right: 8px
}

.contact-info,
.info {
    border-bottom: .8px solid rgba(255, 255, 255, .05);
    margin-bottom: 12px;
    padding-bottom: 12px
}

.info i,
.last-info i {
    font-size: 12px
}

.contact-info i {
    font-size: 16px
}

.contact-details {
    background-image: url(../image/contact-details-map.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-color: rgba(64, 61, 56, .7)
}

.footer {
    background-color: #353330;
    color: #777;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 55px
}

.social-media-icons {
    width: auto
}

.social-media-icon {
    margin-top: 26px;
    margin-left: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #484540;
    display: inline-block
}

.social-media-icon i {
    color: #8c8a86;
    font-size: 24px;
    padding-top: 17px
}

.footer p {
    line-height: 33.48px;
    margin-top: 5px
}